<aside>
	<h3>RSS</h3>
	<p><a href="/feed.xml" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></p>
	<h3>Connect with us</h3>
	<ul class="social">
		<li><a href="//www.github.com/hassanazimi" title="Github" class="github"><i class="fa fa-github-square fa-3x"></i></a></li>
		<li><a href="//www.facebook.com/amirhazz" title="facebook" class="fb"><i class="fa fa-facebook-square fa-3x"></i></a></li>
		<li><a href="//uk.linkedin.com/in/hass0azimi" title="linked in" class="linked"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
		<li><a href="//www.twitter.com/AmirHassanAzimi" title="twitter" class="twitter"><i class="fa fa-twitter-square fa-3x"></i></a></li>
	</ul>
</aside>
